<pre>
<font color="#434f54">&#47;&#47;LAB 1, Measure distance with HC-SR04 sensor</font>

<font color="#00979c">const</font> <font color="#00979c">int</font> <font color="#000000">EchoPin</font> <font color="#434f54">=</font> <font color="#000000">12</font><font color="#000000">;</font>
<font color="#00979c">const</font> <font color="#00979c">int</font> <font color="#000000">TriggerPin</font> <font color="#434f54">=</font> <font color="#000000">13</font><font color="#000000">;</font>

<font color="#00979c">void</font> <font color="#5e6d03">setup</font><font color="#000000">(</font><font color="#000000">)</font> <font color="#000000">{</font>
 &nbsp;&nbsp;<b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">begin</font><font color="#000000">(</font><font color="#000000">9600</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;<font color="#d35400">pinMode</font><font color="#000000">(</font><font color="#000000">TriggerPin</font><font color="#434f54">,</font> <font color="#00979c">OUTPUT</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;<font color="#d35400">pinMode</font><font color="#000000">(</font><font color="#000000">EchoPin</font><font color="#434f54">,</font> <font color="#00979c">INPUT</font><font color="#000000">)</font><font color="#000000">;</font>
<font color="#000000">}</font>

<font color="#00979c">void</font> <font color="#5e6d03">loop</font><font color="#000000">(</font><font color="#000000">)</font> <font color="#000000">{</font>
 &nbsp;&nbsp;<font color="#00979c">int</font> <font color="#000000">cm</font> <font color="#434f54">=</font> <font color="#000000">measureDist</font><font color="#000000">(</font><font color="#000000">TriggerPin</font><font color="#434f54">,</font> <font color="#000000">EchoPin</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;<b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">print</font><font color="#000000">(</font><font color="#005c5f">&#34;Distancia: &#34;</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;<b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">println</font><font color="#000000">(</font><font color="#000000">cm</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;<font color="#d35400">delay</font><font color="#000000">(</font><font color="#000000">1000</font><font color="#000000">)</font><font color="#000000">;</font>
<font color="#000000">}</font>

<font color="#00979c">int</font> <font color="#000000">measureDist</font><font color="#000000">(</font><font color="#00979c">int</font> <font color="#000000">TriggerPin</font><font color="#434f54">,</font> <font color="#00979c">int</font> <font color="#000000">EchoPin</font><font color="#000000">)</font> <font color="#000000">{</font>
 &nbsp;&nbsp;<font color="#00979c">long</font> <font color="#000000">duration</font><font color="#434f54">,</font> <font color="#000000">distanceCm</font><font color="#000000">;</font>

 &nbsp;&nbsp;<font color="#434f54">&#47;&#47;Force the pin to have a low signal to make sure</font>
 &nbsp;&nbsp;<font color="#434f54">&#47;&#47;it registers a high for 10 microseconds so that</font>
 &nbsp;&nbsp;<font color="#434f54">&#47;&#47;the reading is initiated. </font>
 &nbsp;&nbsp;<font color="#d35400">digitalWrite</font><font color="#000000">(</font><font color="#000000">TriggerPin</font><font color="#434f54">,</font> <font color="#00979c">LOW</font><font color="#000000">)</font><font color="#000000">;</font> &nbsp;&nbsp;
 &nbsp;&nbsp;<font color="#d35400">delayMicroseconds</font><font color="#000000">(</font><font color="#000000">5</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;<font color="#434f54">&#47;&#47;Initiate sensor with pulse</font>
 &nbsp;&nbsp;<font color="#d35400">digitalWrite</font><font color="#000000">(</font><font color="#000000">TriggerPin</font><font color="#434f54">,</font> <font color="#00979c">HIGH</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;<font color="#d35400">delayMicroseconds</font><font color="#000000">(</font><font color="#000000">10</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;<font color="#d35400">digitalWrite</font><font color="#000000">(</font><font color="#000000">TriggerPin</font><font color="#434f54">,</font> <font color="#00979c">LOW</font><font color="#000000">)</font><font color="#000000">;</font>

 &nbsp;&nbsp;<font color="#434f54">&#47;&#47;Measure the time the sound travelled measuring</font>
 &nbsp;&nbsp;<font color="#434f54">&#47;&#47;the width of the pulse in pin &#34;Echo&#34;</font>
 &nbsp;&nbsp;<font color="#000000">duration</font> <font color="#434f54">=</font> <font color="#d35400">pulseIn</font><font color="#000000">(</font><font color="#000000">EchoPin</font><font color="#434f54">,</font> <font color="#00979c">HIGH</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;<font color="#434f54">&#47;&#47;Conversion from time to distance (in cm). Value</font>
 &nbsp;&nbsp;<font color="#434f54">&#47;&#47;obtained from the sensor&#39;s data-sheet. </font>
 &nbsp;&nbsp;<font color="#000000">distanceCm</font> <font color="#434f54">=</font> <font color="#000000">duration</font><font color="#434f54">&#47;</font><font color="#000000">58</font><font color="#000000">;</font>
 &nbsp;&nbsp;<font color="#5e6d03">return</font> <font color="#000000">distanceCm</font><font color="#000000">;</font>
<font color="#000000">}</font>

</pre>
