<pre>
<font color="#434f54">&lt;&lt;</font><font color="#434f54">&lt;&lt;</font><font color="#434f54">&lt;&lt;</font><font color="#434f54">&lt;</font> <font color="#000000">HEAD</font>
<font color="#434f54">&#47;&#47;LAB 1, Give different speed values to the fan and read its speed</font>

<font color="#00979c">const</font> <font color="#00979c">int</font> <font color="#000000">PWM_Pin</font><font color="#434f54">=</font> <font color="#000000">11</font><font color="#000000">;</font>
<font color="#00979c">const</font> <font color="#00979c">int</font> <font color="#000000">RPM</font> <font color="#434f54">=</font> <font color="#000000">10</font><font color="#000000">;</font>

<font color="#00979c">void</font> <font color="#5e6d03">setup</font><font color="#000000">(</font><font color="#000000">)</font>
<font color="#000000">{</font>
 &nbsp;<b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">begin</font><font color="#000000">(</font><font color="#000000">9600</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;<font color="#d35400">pinMode</font><font color="#000000">(</font><font color="#000000">PWM_Pin</font><font color="#434f54">,</font> <font color="#00979c">OUTPUT</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;<font color="#434f54">&#47;&#47;The the input a pull up resistor is added in order to measure properly the speed of the fan.</font>
 &nbsp;<font color="#434f54">&#47;&#47;It is obtained through the datasheet of the fan.</font>
 &nbsp;<font color="#d35400">pinMode</font><font color="#000000">(</font><font color="#000000">RPM</font><font color="#434f54">,</font> <font color="#00979c">INPUT_PULLUP</font><font color="#000000">)</font><font color="#000000">;</font>
<font color="#000000">}</font>

<font color="#00979c">void</font> <font color="#5e6d03">loop</font><font color="#000000">(</font><font color="#000000">)</font>
<font color="#000000">{</font>
 &nbsp;<font color="#00979c">int</font> <font color="#000000">pwm</font><font color="#000000">;</font>
 &nbsp;<font color="#00979c">float</font> <font color="#000000">N</font><font color="#000000">;</font>

 &nbsp;<font color="#434f54">&#47;&#47;Initialize pwm signal to 0 in order to have a clean reading</font>
 &nbsp;<font color="#000000">pwm</font> <font color="#434f54">=</font> <font color="#000000">0</font><font color="#000000">;</font>
 &nbsp;<font color="#d35400">analogWrite</font><font color="#000000">(</font><font color="#000000">PWM_Pin</font><font color="#434f54">,</font><font color="#000000">pwm</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;<font color="#d35400">delay</font><font color="#000000">(</font><font color="#000000">5000</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;<font color="#434f54">&#47;&#47;Every step the PWM signal given to the fan increases by one and the speed of the fan is measured</font>
 &nbsp;<font color="#5e6d03">for</font><font color="#000000">(</font><font color="#000000">pwm</font><font color="#434f54">=</font><font color="#000000">0</font><font color="#000000">;</font> <font color="#000000">pwm</font><font color="#434f54">&lt;</font><font color="#000000">256</font><font color="#000000">;</font> <font color="#000000">pwm</font><font color="#434f54">++</font><font color="#000000">)</font><font color="#000000">{</font>
 &nbsp;&nbsp;&nbsp;<font color="#d35400">analogWrite</font><font color="#000000">(</font><font color="#000000">PWM_Pin</font><font color="#434f54">,</font><font color="#000000">pwm</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<font color="#d35400">delay</font><font color="#000000">(</font><font color="#000000">100</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<font color="#000000">N</font> <font color="#434f54">=</font> <font color="#000000">measureSpeed</font><font color="#000000">(</font><font color="#000000">RPM</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">print</font><font color="#000000">(</font><font color="#000000">pwm</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">print</font><font color="#000000">(</font><font color="#005c5f">&#34;,&#34;</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">println</font><font color="#000000">(</font><font color="#000000">N</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;<font color="#000000">}</font>

<font color="#000000">}</font>

<font color="#00979c">float</font> <font color="#000000">measureSpeed</font><font color="#000000">(</font><font color="#00979c">int</font> <font color="#000000">sensorPIN</font><font color="#000000">)</font>
<font color="#000000">{</font>

 &nbsp;<font color="#434f54">&#47;&#47;Four high pulses are measured and it</font>
 &nbsp;<font color="#434f54">&#47;&#47;returns RPM.</font>
 &nbsp;<font color="#00979c">float</font> <font color="#000000">t1</font> <font color="#434f54">=</font> <font color="#d35400">pulseIn</font><font color="#000000">(</font><font color="#000000">sensorPIN</font><font color="#434f54">,</font><font color="#00979c">HIGH</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;<font color="#00979c">float</font> <font color="#000000">t2</font> <font color="#434f54">=</font> <font color="#d35400">pulseIn</font><font color="#000000">(</font><font color="#000000">sensorPIN</font><font color="#434f54">,</font><font color="#00979c">HIGH</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;<font color="#00979c">float</font> <font color="#000000">t3</font> <font color="#434f54">=</font> <font color="#d35400">pulseIn</font><font color="#000000">(</font><font color="#000000">sensorPIN</font><font color="#434f54">,</font><font color="#00979c">HIGH</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;<font color="#00979c">float</font> <font color="#000000">t4</font> <font color="#434f54">=</font> <font color="#d35400">pulseIn</font><font color="#000000">(</font><font color="#000000">sensorPIN</font><font color="#434f54">,</font><font color="#00979c">HIGH</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;<font color="#00979c">float</font> <font color="#000000">Ts</font> <font color="#434f54">=</font> <font color="#000000">t1</font><font color="#434f54">+</font><font color="#000000">t2</font><font color="#434f54">+</font><font color="#000000">t3</font><font color="#434f54">+</font><font color="#000000">t4</font><font color="#000000">;</font>
 &nbsp;<font color="#00979c">float</font> <font color="#000000">N</font> <font color="#434f54">=</font> <font color="#000000">60</font><font color="#434f54">&#47;</font><font color="#000000">(</font><font color="#000000">Ts</font><font color="#434f54">&#47;</font><font color="#000000">1000000</font><font color="#000000">)</font><font color="#000000">;</font> <font color="#434f54">&#47;&#47; Fan speed in RPM</font>

 &nbsp;<font color="#5e6d03">return</font> <font color="#000000">N</font><font color="#000000">;</font>
<font color="#000000">}</font>
<font color="#434f54">==</font><font color="#434f54">==</font><font color="#434f54">==</font><font color="#434f54">=</font>
<font color="#434f54">&#47;&#47;LAB 1, Give different speed values to the fan and read its speed</font>

<font color="#00979c">const</font> <font color="#00979c">int</font> <font color="#000000">PWM_Pin</font><font color="#434f54">=</font> <font color="#000000">11</font><font color="#000000">;</font>
<font color="#00979c">const</font> <font color="#00979c">int</font> <font color="#000000">RPM</font> <font color="#434f54">=</font> <font color="#000000">10</font><font color="#000000">;</font>

<font color="#00979c">void</font> <font color="#5e6d03">setup</font><font color="#000000">(</font><font color="#000000">)</font>
<font color="#000000">{</font>
 &nbsp;<b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">begin</font><font color="#000000">(</font><font color="#000000">9600</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;<font color="#d35400">pinMode</font><font color="#000000">(</font><font color="#000000">PWM_Pin</font><font color="#434f54">,</font> <font color="#00979c">OUTPUT</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;<font color="#d35400">pinMode</font><font color="#000000">(</font><font color="#000000">RPM</font><font color="#434f54">,</font> <font color="#00979c">INPUT_PULLUP</font><font color="#000000">)</font><font color="#000000">;</font>
<font color="#000000">}</font>

<font color="#00979c">void</font> <font color="#5e6d03">loop</font><font color="#000000">(</font><font color="#000000">)</font>
<font color="#000000">{</font>
 &nbsp;<font color="#00979c">int</font> <font color="#000000">pwm</font><font color="#000000">;</font>
 &nbsp;<font color="#00979c">float</font> <font color="#000000">N</font><font color="#000000">;</font>

 &nbsp;<font color="#95a5a6">&#47;*</font>
<font color="#95a5a6"> &nbsp;Bucle donde aumenta el valor de PWM en 1,</font>
<font color="#95a5a6"> &nbsp;espera 0.1 segundo para dar tiempo al ventilador</font>
<font color="#95a5a6"> &nbsp;a reaccionar y mide la velocidad UNA VEZ.</font>
<font color="#95a5a6"> &nbsp;Igual interesa cambiar el valor y hacer unas</font>
<font color="#95a5a6"> &nbsp;cuantas mediciones??</font>
<font color="#95a5a6"> &nbsp;*&#47;</font>
 &nbsp;&nbsp;<font color="#d35400">analogWrite</font><font color="#000000">(</font><font color="#000000">PWM_Pin</font><font color="#434f54">,</font><font color="#000000">0</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;<font color="#d35400">delay</font><font color="#000000">(</font><font color="#000000">5000</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;<font color="#5e6d03">for</font><font color="#000000">(</font><font color="#000000">pwm</font><font color="#434f54">=</font><font color="#000000">0</font><font color="#000000">;</font> <font color="#000000">pwm</font><font color="#434f54">&lt;</font><font color="#000000">256</font><font color="#434f54">+</font><font color="#000000">50</font><font color="#000000">;</font> <font color="#000000">pwm</font><font color="#434f54">++</font><font color="#000000">)</font><font color="#000000">{</font>
 &nbsp;&nbsp;&nbsp;<font color="#d35400">analogWrite</font><font color="#000000">(</font><font color="#000000">PWM_Pin</font><font color="#434f54">,</font><font color="#000000">pwm</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<font color="#d35400">delay</font><font color="#000000">(</font><font color="#000000">100</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<font color="#000000">N</font> <font color="#434f54">=</font> <font color="#000000">measureSpeed</font><font color="#000000">(</font><font color="#000000">RPM</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">print</font><font color="#000000">(</font><font color="#000000">pwm</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">print</font><font color="#000000">(</font><font color="#005c5f">&#34;,&#34;</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">println</font><font color="#000000">(</font><font color="#000000">N</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;<font color="#000000">}</font>

<font color="#000000">}</font>

<font color="#00979c">float</font> <font color="#000000">measureSpeed</font><font color="#000000">(</font><font color="#00979c">int</font> <font color="#000000">sensorPIN</font><font color="#000000">)</font>
<font color="#000000">{</font>

 &nbsp;<font color="#434f54">&#47;&#47;Four high pulses are measured and it</font>
 &nbsp;<font color="#434f54">&#47;&#47;returns RPM.</font>
 &nbsp;<font color="#00979c">float</font> <font color="#000000">t1</font> <font color="#434f54">=</font> <font color="#d35400">pulseIn</font><font color="#000000">(</font><font color="#000000">sensorPIN</font><font color="#434f54">,</font><font color="#00979c">HIGH</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;<font color="#00979c">float</font> <font color="#000000">t2</font> <font color="#434f54">=</font> <font color="#d35400">pulseIn</font><font color="#000000">(</font><font color="#000000">sensorPIN</font><font color="#434f54">,</font><font color="#00979c">HIGH</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;<font color="#00979c">float</font> <font color="#000000">t3</font> <font color="#434f54">=</font> <font color="#d35400">pulseIn</font><font color="#000000">(</font><font color="#000000">sensorPIN</font><font color="#434f54">,</font><font color="#00979c">HIGH</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;<font color="#00979c">float</font> <font color="#000000">t4</font> <font color="#434f54">=</font> <font color="#d35400">pulseIn</font><font color="#000000">(</font><font color="#000000">sensorPIN</font><font color="#434f54">,</font><font color="#00979c">HIGH</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;<font color="#00979c">float</font> <font color="#000000">Ts</font> <font color="#434f54">=</font> <font color="#000000">t1</font><font color="#434f54">+</font><font color="#000000">t2</font><font color="#434f54">+</font><font color="#000000">t3</font><font color="#434f54">+</font><font color="#000000">t4</font><font color="#000000">;</font>
 &nbsp;<font color="#00979c">float</font> <font color="#000000">N</font> <font color="#434f54">=</font> <font color="#000000">60</font><font color="#434f54">&#47;</font><font color="#000000">(</font><font color="#000000">Ts</font><font color="#434f54">&#47;</font><font color="#000000">1000000</font><font color="#000000">)</font><font color="#000000">;</font> <font color="#434f54">&#47;&#47; Fan speed in RPM</font>

 &nbsp;<font color="#5e6d03">return</font> <font color="#000000">N</font><font color="#000000">;</font>
<font color="#000000">}</font>
<font color="#434f54">&gt;&gt;</font><font color="#434f54">&gt;&gt;</font><font color="#434f54">&gt;&gt;</font><font color="#434f54">&gt;</font> <font color="#000000">master</font>

</pre>