<pre>
<font color="#434f54">&#47;&#47;LAB 1, Measure distance and temperature</font>

<font color="#00979c">const</font> <font color="#00979c">int</font> <font color="#000000">EchoPin</font> <font color="#434f54">=</font> <font color="#000000">12</font><font color="#000000">;</font>
<font color="#00979c">const</font> <font color="#00979c">int</font> <font color="#000000">TriggerPin</font> <font color="#434f54">=</font> <font color="#000000">13</font><font color="#000000">;</font>
<font color="#00979c">const</font> <font color="#00979c">int</font> <font color="#000000">TemperaturePin</font><font color="#434f54">=</font> <font color="#000000">A0</font><font color="#000000">;</font>
<font color="#00979c">const</font> <font color="#00979c">int</font> <font color="#000000">SourcePin</font><font color="#434f54">=</font> <font color="#000000">2</font><font color="#000000">;</font>

<font color="#00979c">void</font> <font color="#5e6d03">setup</font><font color="#000000">(</font><font color="#000000">)</font> <font color="#000000">{</font>
 &nbsp;&nbsp;<b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">begin</font><font color="#000000">(</font><font color="#000000">9600</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;<font color="#d35400">pinMode</font><font color="#000000">(</font><font color="#000000">TriggerPin</font><font color="#434f54">,</font> <font color="#00979c">OUTPUT</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;<font color="#d35400">pinMode</font><font color="#000000">(</font><font color="#000000">EchoPin</font><font color="#434f54">,</font> <font color="#00979c">INPUT</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;<font color="#d35400">pinMode</font><font color="#000000">(</font><font color="#000000">SourcePin</font><font color="#434f54">,</font> <font color="#00979c">OUTPUT</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;<font color="#d35400">digitalWrite</font><font color="#000000">(</font><font color="#000000">SourcePin</font><font color="#434f54">,</font> <font color="#00979c">HIGH</font><font color="#000000">)</font><font color="#000000">;</font>
<font color="#000000">}</font>

<font color="#00979c">void</font> <font color="#5e6d03">loop</font><font color="#000000">(</font><font color="#000000">)</font> <font color="#000000">{</font>

 &nbsp;&nbsp;<font color="#00979c">float</font> <font color="#000000">cm</font> <font color="#434f54">=</font> <font color="#000000">measureDist</font><font color="#000000">(</font><font color="#000000">TriggerPin</font><font color="#434f54">,</font> <font color="#000000">EchoPin</font><font color="#000000">)</font><font color="#000000">;</font>

 &nbsp;&nbsp;<b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">print</font><font color="#000000">(</font><font color="#005c5f">&#34;Distancia: &#34;</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;<b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">print</font><font color="#000000">(</font><font color="#000000">cm</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;<b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">println</font><font color="#000000">(</font><font color="#005c5f">&#34;&#34;</font><font color="#000000">)</font><font color="#000000">;</font>

 &nbsp;&nbsp;<font color="#d35400">delay</font><font color="#000000">(</font><font color="#000000">1000</font><font color="#000000">)</font><font color="#000000">;</font>
<font color="#000000">}</font>

<font color="#00979c">float</font> <font color="#000000">measureDist</font><font color="#000000">(</font><font color="#00979c">int</font> <font color="#000000">TriggerPin</font><font color="#434f54">,</font> <font color="#00979c">int</font> <font color="#000000">EchoPin</font><font color="#000000">)</font> <font color="#000000">{</font>
 &nbsp;&nbsp;<font color="#00979c">float</font> <font color="#000000">duration</font><font color="#434f54">,</font> <font color="#000000">distanceCm</font><font color="#000000">;</font>
 &nbsp;&nbsp;<font color="#00979c">float</font> <font color="#000000">temp</font><font color="#000000">;</font>

 &nbsp;&nbsp;<font color="#434f54">&#47;&#47;Force the pin to have a low signal to make sure</font>
 &nbsp;&nbsp;<font color="#434f54">&#47;&#47;it registers a high for 10 microseconds so that</font>
 &nbsp;&nbsp;<font color="#434f54">&#47;&#47;the reading is initiated.</font>
 &nbsp;&nbsp;<font color="#d35400">digitalWrite</font><font color="#000000">(</font><font color="#000000">TriggerPin</font><font color="#434f54">,</font> <font color="#00979c">LOW</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;<font color="#d35400">delayMicroseconds</font><font color="#000000">(</font><font color="#000000">5</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;<font color="#d35400">digitalWrite</font><font color="#000000">(</font><font color="#000000">TriggerPin</font><font color="#434f54">,</font> <font color="#00979c">HIGH</font><font color="#000000">)</font><font color="#000000">;</font> &nbsp;<font color="#434f54">&#47;&#47;Initiate sensor</font>
 &nbsp;&nbsp;<font color="#d35400">delayMicroseconds</font><font color="#000000">(</font><font color="#000000">10</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;<font color="#d35400">digitalWrite</font><font color="#000000">(</font><font color="#000000">TriggerPin</font><font color="#434f54">,</font> <font color="#00979c">LOW</font><font color="#000000">)</font><font color="#000000">;</font>

 &nbsp;&nbsp;<font color="#434f54">&#47;&#47;Measure the time the sound travelled measuring</font>
 &nbsp;&nbsp;<font color="#434f54">&#47;&#47;the width of the pulse in pin &#34;Echo&#34;</font>
 &nbsp;&nbsp;<font color="#000000">duration</font> <font color="#434f54">=</font> <font color="#d35400">pulseIn</font><font color="#000000">(</font><font color="#000000">EchoPin</font><font color="#434f54">,</font> <font color="#00979c">HIGH</font><font color="#000000">)</font><font color="#000000">;</font> <font color="#434f54">&#47;&#47;Read time</font>

 &nbsp;&nbsp;<font color="#000000">temp</font> <font color="#434f54">=</font> <font color="#000000">measureTemp</font><font color="#000000">(</font><font color="#000000">TemperaturePin</font><font color="#000000">)</font><font color="#000000">;</font>

 &nbsp;&nbsp;<font color="#434f54">&#47;&#47;Apply formula of gases speed in air (cm&#47;s) that will vary according</font>
 &nbsp;&nbsp;<font color="#434f54">&#47;&#47;to the measured temperature.</font>
 &nbsp;&nbsp;<font color="#00979c">float</font> <font color="#000000">soundvel</font> <font color="#434f54">=</font> <font color="#d35400">sqrt</font><font color="#000000">(</font><font color="#000000">1.4</font><font color="#434f54">*</font><font color="#000000">8.314</font><font color="#434f54">*</font><font color="#000000">(</font><font color="#000000">temp</font><font color="#434f54">+</font><font color="#000000">273.0</font><font color="#000000">)</font><font color="#434f54">&#47;</font><font color="#000000">0.029</font><font color="#000000">)</font><font color="#434f54">*</font><font color="#000000">100.0</font><font color="#434f54">&#47;</font><font color="#000000">1000000.0</font><font color="#000000">;</font>

 &nbsp;&nbsp;<font color="#434f54">&#47;&#47;Conversion of travel time of the sound into distance</font>
 &nbsp;&nbsp;<font color="#000000">distanceCm</font> <font color="#434f54">=</font> <font color="#000000">soundvel</font><font color="#434f54">*</font><font color="#000000">duration</font><font color="#434f54">&#47;</font><font color="#000000">2.0</font><font color="#000000">;</font>
 &nbsp;&nbsp;<font color="#5e6d03">return</font> <font color="#000000">distanceCm</font><font color="#000000">;</font>
<font color="#000000">}</font>

<font color="#00979c">float</font> <font color="#000000">measureTemp</font><font color="#000000">(</font><font color="#00979c">int</font> <font color="#000000">sensorPin</font><font color="#000000">)</font> <font color="#000000">{</font>

 &nbsp;<font color="#00979c">int</font> <font color="#000000">value</font> <font color="#434f54">=</font> <font color="#d35400">analogRead</font><font color="#000000">(</font><font color="#000000">sensorPin</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;<font color="#434f54">&#47;&#47;Convert the code obtained from the ADC</font>
 &nbsp;<font color="#434f54">&#47;&#47;conversion into a milivolt measurement.</font>
 &nbsp;<font color="#00979c">float</font> <font color="#000000">millivolts</font> <font color="#434f54">=</font> <font color="#000000">(</font><font color="#000000">value</font><font color="#434f54">&#47;</font><font color="#000000">1023.0</font><font color="#000000">)</font><font color="#434f54">*</font><font color="#000000">5000</font><font color="#000000">;</font>
 &nbsp;<font color="#434f54">&#47;&#47;Conversion from volts to celsius degrees</font>
 &nbsp;<font color="#434f54">&#47;&#47;according to data-sheet.</font>
 &nbsp;<font color="#00979c">float</font> <font color="#000000">celsius</font> <font color="#434f54">=</font> <font color="#000000">millivolts</font><font color="#434f54">&#47;</font><font color="#000000">10</font><font color="#000000">;</font>
 &nbsp;<font color="#5e6d03">return</font> <font color="#000000">celsius</font><font color="#000000">;</font>

<font color="#000000">}</font>

</pre>
